{% extends 'layout/layout.html.twig' %}
{% block title %}Category{% endblock %}
{% block section %}
    <ul class="categories">
        {% for category in categories %}
            <li class="category" style="background: url('{{asset(category.image)}}'); background-position: center; background-size: cover">
                <h2>{{ category.name }}</h2>
                {% if app.user and app.user.id == category.author.id or is_granted('ROLE_ADMIN')%}
                    <div class="post_edit">
                        <a href="{{ path('category_edit', {'id' : category.id }) }}">Editer</a>
                        <a href="{{ path('category_remove', {'id' : category.id }) }}">Supprimer</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if app.user %}
        <a href="{{ path('category_post') }}"><button class="btn btn-primary" type="button" name="button">Ajouter</button></a>
    {% endif %}
{% endblock %}
