{% extends 'room/layout.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <h1>Salons</h1>

    <ul class="room">
        {% for user in users %}
            {% if user.room[0] is defined %}
                <li class="room__list">
                    <a href="{{ path('room_show', {'id' : user.room[0].id }) }}">
                        <img src="{{ user.image }}" alt="{{ user.username }}">
                        <p class="create-new-room">{{ user.username }}</p>
                    </a>
                </li>
            {% else %}
                <li class="room__list create-new-room" id="{{ user.id }}">
                    <img src="{{ user.image }}" alt="{{ user.username }}">
                    <p class="create-new-room">{{ user.username }}</p>
                </li>
            {% endif %}
        {% else %}
            <li>Vous n'avez aucun amis !</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
        const createRoom = document.querySelector('.create-new-room');
        createRoom.addEventListener('click', async ()=> {

            try {
                const create = await fetch(`${window.location.origin}/room/new`, {
                    method : 'post',
                    headers : {'X-Requested-With': 'XMLHttpRequest'},
                    body:JSON.stringify({
                        'name' : createRoom.textContent,
                        'picture' : createRoom.firstElementChild.getAttribute('src'),
                        'id' : createRoom.getAttribute('id')
                    })
                });
                const response = await create.json();
                window.location.replace(window.location.href+`${response.id}`);
            } catch (e) {
                console.error(e);
            }
        })

    </script>
{% endblock %}