{% extends 'base.html.twig' %}
{% block title %}Messages{% endblock %}
{% block body %}
    <h1>Salons</h1>

    <ul class="room">
        {% for user in users %}
            {% if user.id %}
                <li class="room__list create-new-room" id="{{ user.id }}">
                    <img src="{{ user.image }}" alt="{{ user.username }}">
                    <p class="create-new-room">{{ user.username }}</p>
                </li>
                {#<a href="{{ path('room_show', {'id' : user.room.id}) }}">{{ user.username }}</a>#}
            {% else %}
            {% endif %}
        {% else %}
            <li>Vous n'avez aucun amis !</li>
        {% endfor %}
    </ul>

    <a href="{{ path('room_new') }}"><button class="btn btn-primary">{% trans %}crud.add{% endtrans %}</button></a>
{% endblock %}

{% block javascripts %}
    <script>
        const createRoom = document.querySelector('.create-new-room');
        createRoom.addEventListener('click', async ()=> {

            const create = await fetch(`${window.location.origin}/room/new`, {
                method : 'post',
                headers : {'X-Requested-With': 'XMLHttpRequest'},
                body:JSON.stringify({
                    'name' : createRoom.textContent,
                    'picture' : createRoom.firstElementChild.getAttribute('src'),
                    'id' : createRoom.getAttribute('id')
                })
            });
            const response = await create.json();
            window.location.replace(window.location.href+`${response.id}`)
        })

    </script>
{% endblock %}