{% extends 'room/layout.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <h1>Salons</h1>
    <h2></h2>
    <div class="room__content">
        <ul class="room">

            {% for user in users %}
                {% if user.room[0] is defined %}
                    <li class="room__list display_room" id="{{ user.room[0].id }}" data-id="{{ user.id }}">
                        <img src="{{ user.image }}" alt="{{ user.username }}">
                        <p>{{ user.username }}</p>
                    </li>
                {% else %}
                    <li class="room__list create-new-room" id="{{ user.id }}">
                        <img src="{{ user.image }}" alt="{{ user.username }}">
                        <p>{{ user.username }}</p>
                    </li>
                {% endif %}
            {% else %}
                <li>Vous n'avez aucun amis !</li>
            {% endfor %}

        </ul>
        <div id="messages__container">

        </div>
        <div class="form__messages">
            {{ form_start(form) }}
                {{ form_row(form.content,{'attr' : {
                    'class' : 'form__content_textarea'
                }}) }}

                {{ form_row(form.submit, { 'attr' : {
                    'class' : 'form__content_send'
                }}) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const createRoom = document.querySelectorAll('.create-new-room');
            const displayRoom = document.querySelectorAll('.display_room');
            const messageContainer = document.querySelector('#messages__container');
            const messageContent = document.querySelector('#message_content');
            const form = document.querySelector('form[name="message"]');
            const userName = document.querySelector('h2');
            let messageList = document.querySelector('#messages__list') || 1;
            const informationsToSend = {
                recipient: null,
                room: null,
                content: null
            };

            messageContent.value = "";

            const displayMessageByRoom = async (elem) => {
                let parse = new DOMParser();

                try {
                    let response = await fetch(`${window.location.origin}/room/${elem.getAttribute('id')}`);
                    if (response.ok) {
                        let data = await response.text();
                        let elementHTML = await parse.parseFromString(data, 'text/html');

                        informationsToSend.room = elem.getAttribute('id');
                        informationsToSend.recipient = elem.dataset.id;
                        messageContainer.innerHTML = "";
                        await messageContainer.append(elementHTML.querySelector('#messages__list'));
                        if (messageList !== 1)
                            messageList.scrollTo(0, messageList.scrollHeight);
                    } else {
                        console.error(response.status)
                    }
                } catch (e) {
                    console.error(e)
                }

                try {
                    let response = await fetch(`${window.location.origin}/user/info`, {
                        method: 'post',
                        body: JSON.stringify({ id : elem.dataset.id })
                    });
                    if (response.ok) {
                        let data = await response.json();
                        userName.textContent = data.user;
                    } else {
                        console.error(response.status)
                    }

                } catch (e) {
                    console.error(e);
                }
            };

            const submitInformations = async (e) => {
                e.preventDefault();
                let parse = new DOMParser();
                informationsToSend.content = messageContent.value;

                try {
                    let response = await fetch(`${window.location.origin}/message/create`, {
                        method: 'post',
                        headers: {'X-Requested-With' : 'XMLHttpRequest'},
                        body: JSON.stringify(informationsToSend)
                    })
                    if (response.ok) {
                        messageContent.value = ""
                    } else {
                        console.log(response.status);
                    }
                } catch (e) {
                    console.log(e)
                }

                try {
                    let response = await fetch(`${window.location.origin}/room/${informationsToSend.room}`);
                    if (response.ok) {
                        let data = await response.text();
                        let elementHTML = await parse.parseFromString(data, 'text/html');

                        messageContainer.innerHTML = "";
                        messageContainer.append(elementHTML.querySelector('#messages__list'));
                        messageContainer.firstChild.scrollTo(0, messageContainer.firstChild.scrollHeight);
                    } else {
                        console.error(response.status)
                    }
                } catch (e) {
                    console.error(e)
                }

            };

            const createRoomByUser = async (elem) => {

                try {
                    let response = await fetch(`${window.location.origin}/room/new`, {
                        method : 'post',
                        headers : {'X-Requested-With': 'XMLHttpRequest'},
                        body:JSON.stringify({
                            'name' : elem.textContent,
                            'picture' : elem.firstChild.getAttribute('src'),
                            'id' : elem.getAttribute('id')
                        })
                    });
                    if (response.ok) {
                        let data = await response.json();
                    } else {
                        console.error(response.status);
                    }
                } catch (e) {
                    console.error(e);
                }
            };

            displayRoom.forEach(element => element.addEventListener('click', () => displayMessageByRoom(element)));
            createRoom.forEach(elemen => elemen.addEventListener('click', () => createRoomByUser(elemen)));
            form.addEventListener('submit', (e) => submitInformations(e));
        })

    </script>
{% endblock %}