{% extends 'base.html.twig' %}

{% block title %}{{ room.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ room.title }}</h1>

    <div class="messages">
        <ul id="messages__list">
            {% for message in messages %}
                {% if message.sender.id == app.user.id %}
                    <li class="messages__list_content messages__list_sender">{{ message.content }}</li>
                {% else %}
                    <li class="messages__list_content messages__list_recipient">{{ message.content }}</li>
                {% endif %}
            {% else %}
                <li class="messages__list_error">Commencez par écrire votre premier message !</li>
            {% endfor %}
        </ul>
    </div>


    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.content, {'attr': {
                'class' : 'form-control'
            }}) }}
        </div>
        <input type="hidden" id="sender" value="{{ app.user.id }}">
        <input type="hidden" id="recipient" value="{{ userId }}">
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
<script>
    document.addEventListener('DOMContentload', ()=> {
        let arr = window.location.href.split('/');
        const id = arr[arr.length-1];
        const content = document.querySelector('#message_content');
        const messageList = document.querySelector('#messages__list');
        const submit = document.querySelector('#message_submit');
        const senderId = document.querySelector('#sender').value;
        const recipientId = document.querySelector('#recipient').value;

        submit.addEventListener('click', async e => {
            e.preventDefault();

            const sendMessage = await fetch('/message/create', {
                method: 'post',
                headers: {'X-Requested-With' : 'XMLHttpRequest'},
                body: JSON.stringify({room : parseInt(id), recipient: recipientId, sender: senderId, content: document.querySelector('#message_content').value})
            });
            const res = await sendMessage.json();


            if (document.querySelector('.messages__list_error') == null) {
                messageList.firstElementChild.insertAdjacentHTML('beforeend', `<li class="messages__list_content messages__list_sender">${content.value}</li>`);
            } else {
                messageList.innerHTML = `<li class="messages__list_content messages__list_sender">${content.value}</li>`;
            }
            content.value = '';

        })
    })

</script>
