{% extends 'base.html.twig' %}

{% block title %}{{ room.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ room.title }}</h1>

    {% for message in messages %}
        <p>{{ message.content }}</p>
    {% else %}
        <p>Commencez par écrire votre premier message !</p>
    {% endfor %}

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.content, {'attr': {
                'class' : 'form-control'
            }}) }}
        </div>

    {{ form_row(form.submit) }}

    {{ form_end(form) }}
    {#{{ include('room/_delete_form.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>
        let arr = window.location.href.split('/');
        const id = arr[arr.length-1];
        const submit = document.querySelector('#message_submit');

        submit.addEventListener('click', async e => {
            e.preventDefault();

            const sendMessage = await fetch('/message/create', {
                method: 'post',
                headers: {'X-Requested-With' : 'XMLHttpRequest'},
                body: JSON.stringify({room : parseInt(id), recipient: 11, sender: 12, content: document.querySelector('#message_content').value})
            });
            const res = await sendMessage.json();

            console.log(res);
        })

    </script>
{% endblock %}