{% extends 'base.html.twig' %}

{% block title %}{{ room.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ room.title }}</h1>

    <div id="message_list">
        <ul>
            {% for message in messages %}
                <li>{{ message.content }}</li>
            {% else %}
                <li>Commencez par écrire votre premier message !</li>
            {% endfor %}
        </ul>
    </div>


    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.content, {'attr': {
                'class' : 'form-control'
            }}) }}
        </div>
        <input type="hidden" id="sender" value="{{ app.user.id }}">
        <input type="hidden" id="recipient" value="{{ userId }}">
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        let arr = window.location.href.split('/');
        const id = arr[arr.length-1];
        const content = document.querySelector('#message_content');
        const messageList = document.querySelector('#message_list');
        const submit = document.querySelector('#message_submit');
        const senderId = document.querySelector('#sender').value;
        const recipientId = document.querySelector('#recipient').value;

        content.value = '';

        submit.addEventListener('click', async e => {
            e.preventDefault();

            const sendMessage = await fetch('/message/create', {
                method: 'post',
                headers: {'X-Requested-With' : 'XMLHttpRequest'},
                body: JSON.stringify({room : parseInt(id), recipient: recipientId, sender: senderId, content: document.querySelector('#message_content').value})
            });
            const res = await sendMessage.json();
            messageList.firstElementChild.insertAdjacentHTML('beforeend', `<li>${content.value}</li>`);
            content.value = '';

        })

    </script>
{% endblock %}