{% extends 'base.html.twig' %}

{% block title %}{{ room.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ room.title }}</h1>

    <div class="messages" id="test_messages">
        <ul id="messages__list">
            {% for message in messages %}
                {% if message.sender.id == app.user.id %}
                    <li class="messages__list_content messages__list_sender">{{ message.content }}</li>
                {% else %}
                    <li class="messages__list_content messages__list_recipient">
                        <img src="{{ message.sender.image }}" alt="{{ message.sender.username }}">
                        <p class="messages__text_recipient">{{ message.content }}</p>
                    </li>
                {% endif %}
            {% else %}
                <li class="messages__list_error">Commencez par écrire votre premier message !</li>
            {% endfor %}
        </ul>
    </div>


    {{ form_start(form) }}

        {{ form_row(form.content, {'attr': {
            'class' : 'form__content_textarea'
        }}) }}

        <input type="hidden" id="sender" value="{{ app.user.id }}">
        <input type="hidden" id="recipient" value="{{ userId }}">
        {{ form_row(form.submit, {'attr' : {
                'class' : 'form__content_send'
        }}) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', ()=> {
        let arr = window.location.href.split('/');
        const id = arr[arr.length-1];
        const messages = document.querySelector('#test_messages');
        const content = document.querySelector('#message_content');
        const submit = document.querySelector('#message_submit');
        const messageList = document.querySelector('#messages__list');
        const senderId = document.querySelector('#sender').value;
        const recipientId = document.querySelector('#recipient').value;

        messageList.scrollTo(0, messageList.scrollHeight);

        submit.addEventListener('click', async e => {
            e.preventDefault();
            let parse = new DOMParser();

            try {
                const sendMessage = await fetch('/message/create', {
                    method: 'post',
                    headers: {'X-Requested-With' : 'XMLHttpRequest','Content-Type' : 'text/html'},
                    body: JSON.stringify({room : parseInt(id), recipient: recipientId, sender: senderId, content: document.querySelector('#message_content').value})
                });
                const res = await sendMessage.json();
            } catch (e) {
                console.error(e);
            }

            try {
                const getMessage = await fetch(document.URL);
                const resMessage = await getMessage.text();
                let parserHTML = await parse.parseFromString(resMessage, "text/html");
                messages.innerHTML = await parserHTML.getElementsByTagName('ul')[2].outerHTML;
                messages.firstChild.scrollTo(0, messages.firstChild.scrollHeight)
                //messages.firstChild.scrollIntoView({behavior : "smooth", block: "center", inline: "end"});

            } catch (e) {
                console.error(e);
            }

            content.value = '';

        })
    })

</script>
{% endblock %}