{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block body %}
    <h1 class="text-center">{{ app.user.username }}</h1>
    <h2 class="text-center">{{ app.user.email }}</h2>
    <div class="container_picture">
        <img src="{{ asset(app.user.image)}}" alt="{{app.user.image}}" class="profil_picture">
    </div>
    <h2 class="text-center">
        {% if is_granted('ROLE_ADMIN') %}
            ADMIN
        {% else %}
            Utilisateur
        {% endif %}</h2>
    <ul>
        {% for follower in followers %}
            <a href="{{ path('profil_user', {'id' : follower.id}) }}"><li>{{ follower.username }}</li></a>
        {% endfor %}
    </ul>

    <h3>{% trans %}profil.choose_language{% endtrans %}</h3>
    <button class="btn btn-primary" id="french">Français</button>
    <button class="btn btn-primary" id="english">English</button>
    <h2>Mes publications</h2>
    {% if posts %}
        <ul class="articles">
            {% for post in posts %}
                <a href="{{ path('blog_show', { 'id' : post.id } ) }}">
                    <li class="post">
                        <div style="background:url('{{ asset(post.image) }}'); height: 45%; width: 100%; background-position: center; background-size: cover"></div>
                        <div class="text_post">
                            <h2>{{ post.title }}</h2>
                            {% if post.description|length > 200 %}
                            {{post.description|slice(0,200) }}...
                            {% else %}
                                {{ post.description }}
                            {% endif %}<br>
                            <h4>by <a href="{{ path('profil_user', {'id' : post.author.id}) }}"><em>{{ post.author.username }}</em></a></h4>
                            <hr>
                            <div class="post__edit">
                                <a href="{{ path('blog_edit', { 'id' : post.id}) }}"><i class="far fa-edit"></i></a>
                                <a href="{{ path('blog_remove', { 'id' : post.id }) }}"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez publié aucun article.</p>
    {% endif %}
    <h2>Mes catégories</h2>
    {% if categories %}
        <ul class="categories">
            {% for category in categories %}
                <li class="category" style="background: url('{{asset(category.image)}}'); background-position: center; background-size: cover')">
                    <a href="{{ path('category_post', { 'id' : category.id }) }}"><h2>{{ category.name }}</h2></a>
                    {% if app.user and app.user.id == category.author.id %}
                        <div class="post_edit">
                            <a href="{{ path('category_edit', {'id' : category.id }) }}">Editer</a>
                            <a href="{{ path('category_remove', {'id' : category.id }) }}">Supprimer</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez crée aucune catégorie.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $('#french').on('click', e => {
            e.stopPropagation();
            let localData = {};
            localData['local'] = "fr";
            localAjax(localData);
        })

        $('#english').on('click', e => {
            e.stopPropagation();
            let localData = {};
            localData['local'] = "en";
            localAjax(localData);
        })

        function localAjax(param){
            $.ajax({
                method: 'POST',
                url: '/locale',
                data: param
            }).success(()=> {
                window.location.reload()
            }).error(error => {
                console.log(error)
            })
        }
    </script>
{% endblock %}

