{% extends 'base.html.twig' %}
{% block title %}{% trans %}menu.register{% endtrans %}{% endblock %}
{% block body %}
    {{ form_start(form) }}
  <div class="form-group">
      {{ form_row(form.username,{ 'attr': {
          'class' : 'form-control'
      }}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.email,{ 'attr': {
          'class' : 'form-control'
      }}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.plainPassword.first,{ 'attr': {
          'class' : 'form-control'
      }}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.plainPassword.second,{ 'attr': {
          'class' : 'form-control'
      }}) }}
  </div>
  <div class="form-group">
      {{ form_row(form.image,{ 'attr': {
          'class' : 'form-control'
      }}) }}
  </div>
  <div class="form-group" style="{% if title is not defined %}display: none;{% endif %}">
      {{ form_row(form.role,{ 'attr': {
          'class' : 'form-control'
      }}) }}
  </div>
    {{ form_row(form.save,{ 'attr': {
        'class' : 'btn btn-primary'
    }}) }}
    {{ form_end(form) }}

  {% if title is not defined %}
    <p>{% trans %}register.already_account{% endtrans %} <a href="{{ path('login')}}">{% trans %}register.login{% endtrans %}</a></p>
  {% endif %}
{% endblock %}
