{% extends 'base.html.twig' %}
{% block body %}
  <h1>Blog</h1>
  <ul>


      {% for post in posts %}
      <li>
        <a href="{{ path('show_id', { 'id' : post.id } ) }}"> <h2>{{ post.title }}</h2></a> <br>
        {% if post.description|length > 200 %}
          {{post.description|slice(0,200) }}...
        {% else %}
          {{ post.description }}
        {% endif %}<br>
        {% if app.user and app.user.role.name == 'ROLE_ADMIN' %}
          <a href="{{ path('edit_post', { 'id' : post.id}) }}"> <button class="btn btn-primary">Editer</button></a>
          <a href="{{ path('remove_post', { 'id' : post.id }) }}"> <button class="btn btn-danger">Supprimer</button></a>
        {% endif %}
      </li>
      {% endfor %}
  </ul>
  {% if app.user %}
    <a href="{{ path('blog_add') }}"><button type="button" name="button" class="btn btn-primary">Ajouter</button></a>
  {% endif %}
{% endblock %}
