{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block body %}
    <h1>Blog</h1>
    <h2>Category</h2>
    <p id="toggle" onclick="toggleCat()"><i class="fas fa-angle-down"></i></p>
    <div id="category" class="cat cat__hide">
        <ul class="cat__content">
            {% for category in categories %}
                <a href="{{ path('category_show_post', {'id' : category.id}) }}">
                    <li class="cat__item">{{ category.name }}</li>
                </a>
            {% else %}
                <p>Pas de catégorie présente</p>
            {% endfor %}
        </ul>
    </div>
    <ul class="articles">
        {% for post in posts %}
            <a href="{{ path('blog_show', { 'id' : post.id }) }}">
                <li class="post">
                    <div style="background:url('{{ asset(post.image) }}'); height: 200px; width: 100%; background-position: center; background-size: cover"></div>
                    <div class="text_post">
                        <h2>{{ post.title }}</h2>
                        {% if post.description|length > 200 %}
                            {{post.description|slice(0,200) }}...
                        {% else %}
                            {{ post.description }}
                        {% endif %}<br>
                        <h4>by <a href="{{ path('profil_user', {'id' : post.author.id}) }}"><em>{{ post.author.username }}</em></a></h4>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <hr>
                            <div class="post__edit">
                                <a href="{{ path('blog_edit', { 'id' : post.id}) }}"><i class="far fa-edit"></i></a>
                                <a href="{{ path('blog_remove', { 'id' : post.id }) }}"><i class="fas fa-times"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>
    {% if app.user %}
        <a href="{{ path('blog_post') }}"><button type="button" name="button" class="btn btn-primary">Ajouter</button></a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        let cat = document.querySelector('#category');
        let toggle = document.querySelector('#toggle');

        function toggleCat() {
            cat.classList.toggle('cat__hide');
            if (cat.className === 'cat cat__hide') {
                toggle.innerHTML = '<i class="fas fa-angle-down"></i>';
            } else {
                toggle.innerHTML = '<i class="fas fa-angle-up"></i>';
            }
        }

    </script>
{% endblock %}
