{% extends 'base.html.twig' %}
{% block body %}
    <h1>Blog</h1>
    <h2>Category</h2>
    <button id="toggle" class="btn btn-success" onclick="toggleCat()">Click</button>
    <div id="category" class="cat__hide">
        <ul>
            {% for category in categories %}
                <a href="{{ path('category_show_post', {'id' : category.id}) }}">
                    <li>{{ category.name }}</li>
                </a>
            {% else %}
                <p>Pas de catégorie présente</p>
            {% endfor %}
        </ul>
    </div>
    <ul class="articles">
        {% for post in posts %}
            <a href="{{ path('blog_show', { 'id' : post.id } ) }}">
                <li class="post">
                    <div style="background:url('{{ asset(post.image) }}'); height: 200px; width: 100%; background-position: center; background-size: cover"></div>
                    <div class="text_post">
                        <h2>{{ post.title }}</h2>
                        {% if post.description|length > 200 %}
                        {{post.description|slice(0,200) }}...
                        {% else %}
                            {{ post.description }}
                        {% endif %}<br>
                        <h4>by <a href="{{ path('profil_user', {'id' : post.author.id}) }}"><em>{{ post.author.username }}</em></a></h4>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <hr>
                            <a href="{{ path('blog_edit', { 'id' : post.id}) }}">Editer</a>
                            <a href="{{ path('blog_remove', { 'id' : post.id }) }}">Supprimer</a>
                        {% endif %}
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>
    {% if app.user %}
        <a href="{{ path('blog_post') }}"><button type="button" name="button" class="btn btn-primary">Ajouter</button></a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        let cat = document.getElementById('category');
        function toggleCat() {
            cat.classList.toggle('cat__hide');
        }

    </script>
{% endblock %}
