{% extends 'base.html.twig' %}
{% block body %}
    <div class="success">
        <p></p>
    </div>
    <div class="error">
        <p></p>
    </div>
    <header style="background: url('{{blog.image}}'); background-position: center;background-size: cover;" class="header_post">
        <h1>{{ blog.title }}</h1>
    </header>
    <p>{{ blog.description }}</p>
    <p>{{ blog.createdAt|date("d-m-Y")  }}</p>

    {{form_start(form)}}
    <div class="form-group">
        {{form_row(form.content,{ 'attr' : {
            'class' : 'form-control'
        }})}}
    </div>
    {{form_row(form.submit,{ 'attr' : {
        'class' : 'btn btn-primary'
    }})}}
    {{form_end(form)}}

    {% if comments %}
        <div class="comments_list" id="commentList">
            {% for comment in comments %}
                <div class="comments">
                    <div class="card-header">
                        <img src="{{ comment.author.image}}" alt="" class="profil_picture_post">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><a href="{{ path('profil_user', {id : comment.author.id}) }}" class="profil">{{comment.author.username}}</a><span class="content">{{ comment.content }}</span></p>
                        </div>
                        {% if app.user.id is defined and app.user.id == comment.author.id %}
                            <button type="button" name="button" class="show">...</button>
                            <div class="features">
                                <p class="edit" data-id="{{comment.id}}">Editer</p>
                                <p class="remove_comment" data-id="{{comment.id}}">Supprimer</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('.features').hide();
        $('.success').hide();

        $('.show').on('click', function(e){
            e.preventDefault();
            let features = $(this).siblings('.features');
            if(features.is(":visible")) {
                features.hide();
            }else {
                features.show();
            }
        })

        $('form[name="comment"]').on('submit', function(e){
            e.preventDefault();
            let dataComment = {};
            let url = window.location.href;
            let split = url.split('/');
            dataComment['content'] = $('#comment_content').val();

            $.ajax({
                method: "POST",
                url: `/blog/${parseFloat(split[split.length - 1])}`,
                data : dataComment,
            }).done(function(response){
                $('#comment_content').val('');
                $('.comments_list').append(`<div class="comments">
                    <div class="card-header">
                        <img src="${response['image']}" alt="" class="profil_picture_post">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><a href="/profil/${response['id']}" class="profil" >${response['username']}</a> ${response['content']} </p>
                        </div>
                    </div>
                </div>`);
            })
        });

        $('.edit').on('click', function(e){
            e.preventDefault();
            $('.features').hide();
            let dataId = $(this).data('id');
            let card = $(this).parent(".features").parent(".card");
            let cardText = card.children('.card-body').children('p.card-text');
            let content = cardText.children('span.content');
            let textContent = content.text();
            content.text('');
            content.prepend(`<form name="editContent"><input type="text" value="${textContent}" data-id="${dataId}" class="editContent" autofocus/></form>`);
        });

        // TODO
        $('.comments').submit('form[name="editContent"]', (e) => {
            e.preventDefault();
            let dataComment = {};
            let dataId = $('input.editContent').data('id');
            let textContent = $('input.editContent').val();
            let input = $('input.editContent');
            let content = input.parent('form[name="editContent"]').parent('span.content');

            dataComment['id'] = dataId;
            dataComment['content'] = textContent;

            $.ajax({
                method: "POST",
                url: `/comment/edit/${dataId}`,
                data: dataComment,
            }).done(()=>{
                content.text(input.val())
                input.parent('form[name="editContent"]').remove();
                $('.success').show(0).delay(9000).hide(0);
                $('.success p').text('Votre commentaire a bien était édité !');
            }).error(()=>{
                console.log('gg')
            })
        })

        $('.remove_comment').on('click', function(e){
            e.preventDefault();
            let dataComment = {};
            dataComment['id'] = $(this).data('id');
            $(this).closest('div.comments').remove();

            $.ajax({
                method: "POST",
                url: `/comment/remove/${dataComment['id']} `,
                data: dataComment
            }).done(function(response){
                $( "#commentList" ).load( document.URL + "#commentList" );
                $('.success').show()
                $('.success p').text(response['success']);
            })
        })
    </script>
{% endblock %}
