{% extends 'base.html.twig' %}
{% block body %}
  <header style="background: url('{{blog.image}}'); background-position: center;background-size: cover;" class="header_post">
      <h1>{{ blog.title }}</h1>
  </header>
  <p>{{ blog.description }}</p>
  <p>{{ blog.date|date("d-m-Y")  }}</p>

  {{form_start(form)}}
    <div class="form-group">
      {{form_row(form.content,{ 'attr' : {
        'class' : 'form-control'
      }})}}
    </div>
  {{form_row(form.submit,{ 'attr' : {
    'class' : 'btn btn-primary'
  }})}}
  {{form_end(form)}}

  {% if comments %}
    <div class="comments_list">
      {% for comment in comments %}
          <div class="comments">
            <div class="card-header">
              <img src="{{ comment.author.image}}" alt="" class="profil_picture_post">
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text"><a href="{{ path('profil_user', {id : comment.author.id}) }}" class="profil">{{comment.author.username}}</a><span class="content">{{ comment.content }}</span></p>
              </div>
              {% if app.user.id is defined and app.user.id == comment.author.id %}
                <p class="edit" data-id="{{comment.id}}">Editer</p>
                <button data-id="{{comment.id}}" type="button" name="button" class="remove_comment">X</button>
              {% endif %}
            </div>
          </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $('form[name="comment"]').on('submit', function(e){
      e.preventDefault();
      let dataComment = {};
      let url = window.location.href;
      let split = url.split('/');
      dataComment['content'] = $('#comment_content').val();

      $.ajax({
        method: "POST",
        url: `/blog/${parseFloat(split[split.length - 1])}`,
        data : dataComment,
      }).done(function(response){
        $('#comment_content').val('');
        $('.comments_list').append(`<div class="comments">
          <div class="card-header">
            <img src="${response['image']}" alt="" class="profil_picture_post">
          </div>
          <div class="card">
            <div class="card-body">
              <p class="card-text"><a href="/profil/${response['id']}" class="profil" >${response['username']}</a> ${response['content']} </p>
            </div>
          </div>
        </div>`);
      })
    });

    $('.edit').on('click', function(e){
      e.preventDefault();
      let dataId = $(this).data('id');
      let card = $(this).parent(".card");
      let cardText = $(this).siblings('.card-body').children('p.card-text');
      let content = cardText.children('span.content');
      let textContent = content.text();
      let dataComment = {};

      dataComment['id'] = dataId;
      dataComment['content'] = textContent;

      $.ajax({
        method: "POST",
        url: `comment/edit/${dataId}`
      })
      console.log(textContent);
      content.text('')
      content.prepend(`<input type="text" value="${textContent}" name="editContent"/>`);
    });

    $('.remove_comment').on('click', function(e){
      e.preventDefault();
      let dataComment = {};
      dataComment['id'] = $(this).data('id');
      $(this).closest('div.comments').remove();

      $.ajax({
        method: "POST",
        url: `/comment/remove/${dataComment['id']} `,
        data: dataComment
      }).done(function(response){
        console.log(response['success']);
      })
    })
</script>
{% endblock %}
