<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="{{ path('home') }}">Accueil </a></li>
              <li><a href="{{ path('blog') }}">Blog</a></li>
              <li><a href="{{ path('forum') }}">Forum</a></li>
              <li><a href="{{ path('contact') }}">Contact</a></li>
              {% if app.user.id is not defined %}
                <li ><a href="{{ path('user_registration') }}">Inscription</a></li>
                <li ><a href="{{ path('login') }}">Connexion</a></li>
              {% else %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img src="{{ app.user.image }}" alt="" class="profil_picture">
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('user_edit', {'id' : app.user.id}) }}">Editer</a></li>
                    <li><a href="{{ path('profil') }}">Profil</a></li>
                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        {% block body %}{% endblock %}
      </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
