{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'accueil</h1>
    <h2>Derniers articles publiés</h2>
    {% if posts %}
        <ul class="articles">
            {% for post in posts %}
                <a href="{{ path('blog_show', { 'id' : post.id } ) }}">
                    <li class="post">
                        <div style="background:url('{{ asset(post.image) }}'); height: 45%; width: 100%; background-position: center; background-size: cover"></div>
                        <div class="text_post">
                            <h2>{{ post.title }}</h2>
                            {% if post.description|length > 200 %}
                            {{post.description|slice(0,200) }}...
                            {% else %}
                                {{ post.description }}
                            {% endif %}<br>
                            <h4>by <a href="{{ path('profil_user', {'id' : post.author.id}) }}"><em>{{ post.author.username }}</em></a></h4>
                            {% if app.user and app.user.id == post.author.id or is_granted('ROLE_ADMIN')  %}
                                <hr>
                                <div class="post__edit">
                                    <a href="{{ path('blog_edit', { 'id' : post.id}) }}">Editer</a>
                                    <a href="{{ path('blog_remove', { 'id' : post.id }) }}">Supprimer</a>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else  %}
        <p>Aucun post n'as était publié pour l'instant</p>
    {% endif %}
    <h2>Derniers catégories publiés</h2>
    {% if categories %}
        <ul class="categories">
            {% for category in categories %}
                <li class="category" style="background: url('{{asset(category.image)}}'); background-position: center; background-size: cover')">
                    <a href="{{ path('category_show_post', { 'id' : category.id }) }}"><h2>{{ category.name }}</h2></a>
                    {% if app.user and app.user.id == category.author.id or is_granted('ROLE_ADMIN')%}
                        <div class="post_edit">
                            <a href="{{ path('category_edit', {'id' : category.id }) }}">Editer</a>
                            <a href="{{ path('category_remove', {'id' : category.id }) }}">Supprimer</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune catégorie n'a été crée pour l'instant.</p>
    {% endif %}
    <div id="time"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function checkTime(i){
            if (i<10){
                i = "0" + i
            }
            return i;
        }

        function startTime(){
            let today = new Date;
            let h = today.getHours();
            let m = today.getMinutes();
            let s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML = `${h}:${m}:${s}`
            t = setTimeout(()=>{
                startTime()
            }, 500)
        }
        startTime();
    </script>
{% endblock %}
