{% extends 'base.html.twig' %}

{% block body %}

  <h1 class="text-center">Forum</h1>
  <hr>
  {% for forum in forums %}
    <a href="{{path('forum_show', {'id': forum.id})}}"><h4>{{ forum.title }}</h4></a>
    <p>by <a href="{{ path('profil_user', {'id' : forum.author.id}) }}">{{forum.author.username}}</p></a>
    <hr>
  {% endfor %}
  <a href="{{ path('forum_add') }}"><button type="button" class="btn btn-info">Créer+</button></a>

{% endblock %}
