{% extends 'base.html.twig' %}
{% block title %}Test du block{% endblock %}
{% block body %}
  <h1 class="text-center">{{forum.title}}</h1>
  <hr>
  <p>{{forum.content}}</p>
  <p>{{forum.author.username}}</p>
  <p>{{forum.createdAt|date('Y-m-d')}}</p>
  {% if forum.picture %}
    <img src="{{forum.picture}}" alt="{{forum.content}}" class="">
  {% endif %}
{% endblock %}
