{% extends 'base.html.twig' %}
{% block title %}Test du block{% endblock %}
{% block body %}
  <h1 class="text-center">{{forum.title}}</h1>
  <hr>
  <p>{{forum.content|raw}}</p>
  <p>{{forum.createdAt|date('Y-m-d')}}</p>
  {% if forum.picture %}
    <img src="{{forum.picture}}" alt="{{forum.content}}" class="">
  {% endif %}
  <p>{{forum.author.username}}</p>
  {% if forum.updatedAt %}
    Modifié le {{forum.updatedAt|date('Y-m-d')}}
  {% endif %}
  {% if app.user.id  == forum.author.id %}
    <a href="{{path('forum_edit', {'id': forum.id})}}">
      <button type="button" name="button" class="btn btn-info">Editer</button>
    </a>
  {% endif %}
{% endblock %}
